extends ../layout

block vars
	- var pageTitle = "English - 1888 · STM"
	- var thisPage = "index"

block content
	.container
		each topic in topics
			.panel.panel-default
				.panel-heading
					h3.panel-title #{topic.topic.name}
				.panel-body
					p ...