html, body
	height 100%

#topicsList

	.list-group
		border-radius 5px
		overflow scroll
		max-height 250px

		.list-group-item
			border-width 0
			border-top-width 1px
			padding 7px 13px
			width 100%

			&:first-of-type
				border-top-width 0

		div.list-group-item
			padding 2px 13px
			background-color rgb(241, 241, 241)

.popover
	max-width 100%
	width 100%

#relatedArticles

	.list-group
		border-bottom solid 1px rgb(221, 221, 221)
		overflow scroll
		height 246px

		a.list-group-item
			position relative

			svg
				position absolute
				right 2px
				top 2px

				circle
					fill rgba(225, 225, 225, 0.4)

				path
					fill rgba(0, 0, 0, 0.8)

			&.active svg path
				fill rgba(255, 255, 255, 0.8)

	.panel-body
		overflow scroll
		height 314px

.pending-task

	.progress
		margin-bottom 4px
		position relative

		.progress-bar
			position absolute

#topicsProgress
	bottom-margin 0

	span.label
		font-size 100%
		border-radius 1em
