html,
body {
  height: 100%;
}
#topicsList .list-group {
  border-radius: 5px;
  overflow: scroll;
  max-height: 250px;
}
#topicsList .list-group a.list-group-item {
  border-width: 0;
  border-top-width: 1px;
  padding: 7px 13px;
  width: 100%;
}
#topicsList .list-group a.list-group-item:first-of-type {
  border-top-width: 0;
}
.popover {
  max-width: 100%;
  width: 100%;
}
#relatedArticles .list-group {
  border-bottom: solid 1px #ddd;
  overflow: scroll;
  height: 246px;
}
#relatedArticles .list-group a.list-group-item {
  position: relative;
}
#relatedArticles .list-group a.list-group-item svg {
  position: absolute;
  right: 2px;
  top: 2px;
}
#relatedArticles .list-group a.list-group-item svg circle {
  fill: rgba(225,225,225,0.4);
}
#relatedArticles .list-group a.list-group-item svg path {
  fill: rgba(0,0,0,0.8);
}
#relatedArticles .list-group a.list-group-item.active svg path {
  fill: rgba(255,255,255,0.8);
}
#relatedArticles .panel-body {
  overflow: scroll;
  height: 314px;
}
