html, body
	height 100%

#topicsList

	.list-group
		border-radius 5px
		overflow scroll
		max-height 250px

	a.list-group-item
		border-width 0
		border-top-width 1px
		padding 7px 13px
		width 100%

		&:first-of-type
			border-top-width 0

.popover
	max-width 100%
	width 100%

#relatedArticles
	
	.list-group
		border-bottom solid 1px rgb(221, 221, 221)
		overflow scroll
		height 246px

	.panel-body
		overflow scroll
		height 314px