extends ../layout

block vars
	- var pageTitle = "English - 1888 · STM"
	- var thisPage = "topics"

block content
	.container(data-context = "topicsContext")
		#hidden-content(style = "display: none")
			#topicsList
				.list-group(style = "margin: -10px -15px")
					a.list-group-item(href = "#", data-foreach-topic = "filteredTopics", data-bind = "topic.html | raw", data-addclass-active = "topic.active", data-bind-data-id = "topic.topic.id", data-event-mousedown = "appContext.topicsContext.gotoTopic")
		nav.navbar.navbar-default
			.navbar-header
				.navbar-brand(data-bind = "currentTopic.name")
			.nav.navbar-nav
				button.btn.btn-default
					i.fa.fa-pencil
					| Rename
				.checkbox
					label
						input(type="checkbox")
						| Hide Topic
			form.navbar-form.navbar-right
				.input-group
					span.input-group-addon
						i.fa.fa-search
					input#topicSearch.form-control(type = "text", placeholder = "Topic…", style = "width: 100%", data-bind = "topicSearch_text", data-event-keydown = "appContext.topicsContext.topicSearch_keydown", data-event-input = "appContext.topicsContext.topicSearch_input", autocomplete = "off")
		.row(data-showif = "isCurrentTopicSelected", style = "display: none")
			.col-md-6
				.panel.panel-default
					.panel-heading
						h3.panel-title Top-ranked Words
					.panel-body
						#wordcloud(style = "height: 220px; position: relative")
				.panel.panel-default
					.panel-heading
						h3.panel-title Top-ranked Phrases
					.panel-body
						#phrasecloud(style = "height: 220px; position: relative")
			.col-md-6(data-context = "currentTopic")
				#relatedArticles.panel.panel-default
					.panel-heading
						h3.panel-title Related Articles
					.list-group
						a.list-group-item(href = "#", data-foreach-record = "filteredRecords", data-addclass-active = "record.active", data-event-click = "appContext.topicsContext.currentTopic.gotoRecord")
							span(data-bind = "record.record.article_id")
							svg(height = 36, width = 36, data-toggle = "tooltip", data-bind-title = "record.record.proportionTooltip", data-placement = "left", style = "white-space: nowrap")
								path(data-bind-d = "record.record.proportionPie")
								circle(cx = 18, cy = 18, r = 15)
					.panel-body
						p(data-bind = "activeRecord.article")