extends ../layout

block vars
	- var pageTitle = "Curation · STM"
	- var thisPage = "curation"

block content
	.container(data-context = "curationContext")
		.row
			div.col-sm-6.col-sm-offset-3(data-addclass-col-sm-offset-1 = "pendingTasksView.isEmpty | not", data-removeclass-col-sm-offset-3 = "pendingTasksView.isEmpty | not")
				.panel.panel-default(data-context = "metadataView")
					.panel-heading
						h3.panel-title Metadata
					.panel-body
						.form-horizontal
							.form-group(data-addclass-has-success = "corpusIsSelected", data-addclass-has-feedback = "corpusIsSelected")
								label.col-sm-3.control-label Corpus
								.col-sm-8
									div(data-addclass-input-group = "corpusIsNew")
										input#corpusInput.form-control(data-bind = "corpus_text")
										i.form-control-feedback.fa.fa-check(data-showif = "corpusIsSelected", style = "display: none")
										span.input-group-btn(data-showif = "corpusIsNew", style = "display: none")
											button.btn.btn-default(data-event-click = "appContext.curationContext.metadataView.addCorpus")
												i.fa.fa-plus
							.form-group(data-addclass-has-success = "subcorpusIsSelected", data-addclass-has-feedback = "subcorpusIsSelected", style = "margin-bottom: 0")
								label.col-sm-3.control-label Sub Corpus
								.col-sm-8
									div(data-addclass-input-group = "subcorpusIsNew")
										input#subcorpusInput.form-control(data-bind = "subcorpus_text")
										i.form-control-feedback.fa.fa-check(data-showif = "subcorpusIsSelected", style = "display: none")
										span.input-group-btn(data-showif = "subcorpusIsNew", style = "display: none")
											button.btn.btn-default(data-event-click = "appContext.curationContext.metadataView.addSubcorpus")
												i.fa.fa-plus
				.panel.panel-default(data-context = "addFilesView", data-showif = "appContext.curationContext.metadataView.subcorpusIsSelected", style = "display: none")
					.panel-heading
						h3.panel-title Files
					#dropFiles.panel-body.lead(style = "background-color: rgba(0, 0, 0, 0.02); text-align: center; margin-bottom: 0; color: rgba(0, 0, 0, 0.2); cursor: pointer")
						| Drop files here to upload
					ul.list-group(data-showif = "isFilesListEmpty | not", style = "display: none")
						div
						li.list-group-item(data-showif = "filesListPrevAvailable")
							a(href = "#", data-event-click = "appContext.curationContext.addFilesView.loadMorePrevFiles") Load More…
						li.list-group-item(data-foreach-file = "sortedFilesList", data-bind = "file")
						li.list-group-item(data-showif = "filesListNextAvailable")
							a(href = "#", data-event-click = "appContext.curationContext.addFilesView.loadMoreNextFiles") Load More…
				.panel.panel-default(data-context = "malletProcessView", data-showif = "appContext.curationContext.metadataView.subcorpusIsSelected", style = "display: none")
					.panel-heading
						h3.panel-title Topic Modeling
					.panel-body
						#topicsProgress.text-center(data-showif = "processing")
							span.label.label-default(data-addclass-label-primary = "processingIngestChunks", data-addclass-label-success = "processedIngestChunks", data-removeclass-label-default = "notprocessedIngestChunks | not", data-toggle = "tooltip", title = "Ingest Chunks", data-placement = "top") 1
							span.text-muted &nbsp;&rarr;&nbsp;
							span.label.label-default(data-addclass-label-primary = "processingTrainTopics", data-addclass-label-success = "processedTrainTopics", data-removeclass-label-default = "notprocessedTrainTopics | not", data-toggle = "tooltip", title = "Train Topics", data-placement = "top") 2
							span.text-muted &nbsp;&rarr;&nbsp;
							span.label.label-default(data-addclass-label-primary = "processingInferTopics", data-addclass-label-success = "processedInferTopics", data-removeclass-label-default = "notprocessedInferTopics | not", data-toggle = "tooltip", title = "Infer Topics", data-placement = "top") 3
							span.text-muted &nbsp;&rarr;&nbsp;
							span.label.label-default(data-addclass-label-primary = "processingStoreProportions", data-addclass-label-success = "processedStoreProportions", data-removeclass-label-default = "notprocessedStoreProportions | not", data-toggle = "tooltip", title = "Store Proportions", data-placement = "top") 4
						.text-center(data-showif = "processing | not")
							button.btn.btn-primary(data-event-click = "appContext.curationContext.malletProcessView.startTopicModeling") Start Topic Modeling
			.col-sm-4(data-showif = "pendingTasksView.isEmpty | not", style = "display: none")
				.panel.panel-default(data-context = "pendingTasksView")
					.panel-heading
						h3.panel-title Tasks
					ul.list-group
						li.list-group-item.pending-task(data-foreach-task = "pendingTasks")
							p.pull-left
								small Uploading&nbsp;
								strong(data-bind = "task.fileName")
								br
								small To&nbsp;
								strong(data-bind = "task.corpus.name | append '/' | append task.subcorpus.name")
							p.pull-right(style = "margin-bottom: 4px", data-bind = "task.friendlyFileSize")
							.clearfix
							.progress(data-addclass-active = "task.extracted", data-addclass-progress-striped = "task.extracted")
								.progress-bar(role = "progressbar", data-bind-style = "'width: ' | append task.percentDone | append '%'", data-addclass-progress-bar-success = "task.success", data-addclass-progress-bar-danger = "task.failure")
								.progress-bar.progress-bar-info(role = "progressbar", data-bind-style = "'width: ' | append task.percentExtractionDone | append '%'", data-showif = "task.isArchive")
